<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.assist.user.mapper.UserMapper">
	<!-- test -->
	<select id="selectUserList" resultType="map">
		SELECT
			*
		FROM
			`user`
	</select>
	<!-- loginId 중복확인-->
	<select id="selectUserByUserId" resultType="boolean">
    SELECT EXISTS (
        SELECT 1
        FROM `user`
        WHERE `loginId` = #{loginId}
    )
	</select>
	<!-- 회원가입-->
	<insert id="insertUser" parameterType="map">
		INSERT INTO `user`
		(
			`loginId`
			,`password`
			,`salt`
			,`remainingLeave`
			,`name`
			,`position`
			,`division`
			,`startDate`
			,`phoneNumber`
			,`email`
			,`createdAt`
			,`updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{salt}
			, #{remainingLeave}
			, #{name}
			, #{position}
			, #{division}
			, #{startDate}
			, #{phoneNumber}
			, #{email}
			, NOW()
			, NOW()
		)
	</insert>
	<select id="selectUserByLoginId" resultType="com.assist.user.domain.User">
	SELECT
		`id`
		,`loginId`
		,`password`
		,`remainingLeave`
		,`name`
		,`position`
		,`division`
		,`startDate`
		,`phoneNumber`
		,`email`
		,`createdAt`
		,`updatedAt`
		,`salt`
	FROM
		`user`
	WHERE
		 `loginId` = #{loginId}
	</select>
</mapper>